* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: none;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Inter", serif;
  background-color: var(--Off-white);
  color: var(--Very-dark-blue);
  overflow-x: hidden;
}

:root {
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);

  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);

  --paragraph-font-size: 0.938rem; /*15px*/
  --btn-padding: 1rem 2rem;
  --padding: 1rem 1rem;
  --transition: all 300ms ease;

  --semibold-font-weight: 700;
  --bold-font-weight: 800;
}

.container {
  width: 80%;
  margin: 0 auto;
}

img {
  display: block;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}

p {
  font-size: var(--paragraph-font-size);
  color: var(--Dark-grayish-blue);
}

.text-semibold {
  font-weight: 700;
}
.text-bold {
  font-weight: 800;
}

a {
  font-size: var(--paragraph-font-size);
  color: var(--Very-dark-blue);
  transition: var(--transition);
}

.btn {
  display: inline-block;
  padding: var(--btn-padding);
  background-color: var(--Soft-red);
  color: var(--Very-dark-blue);
  transition: var(--transition);
  cursor: pointer;
  font-size: var(--paragraph-font-size);
}

.btn:hover {
  background-color: var(--Very-dark-blue);
  color: var(--Grayish-blue);
}

/* Navbar */
nav {
  width: 100%;
  padding: 4rem 0;
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-links {
  display: flex;
  gap: 2.5rem;
}

.nav-links a:hover {
  color: var(--Soft-red);
}

.menu-btn,
.close-btn {
  display: none;
}
/* Main-section */
main .main-section {
  display: grid;
  grid-template-columns: 55vw auto;
  column-gap: 2rem;
  height: fit-content;
}

/* Left */
main .main-section .left {
  grid-column: 1/2;
  grid-row: 1/2;
}

main .main-section .left img {
  width: 100%;
  margin-bottom: 1rem;
}

.left__inner-container {
  display: flex;
  justify-content: space-between;
  gap: 8rem;
}

.left__inner-container-right {
  padding: var(--padding);
}

.left__inner-container-right p {
  line-height: 1.75;
  margin-bottom: 1.5rem;
}
/* right */

main .main-section .right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--Very-dark-blue);
  padding: var(--padding);
}

main .main-section .right h2 {
  margin: 1rem 0;
  color: var(--Soft-orange);
}

main .main-section .right h3 {
  margin: 1rem 0;
  color: var(--Off-white);
  transition: var(--transition);
  cursor: pointer;
}
main .main-section .right h3:hover {
  color: var(--Soft-orange);
}

main .main-section .right div {
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--Dark-grayish-blue);
}

main .main-section .right div:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}

/*featured-section */
.featured-section {
  padding: 4em 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* justify-content: space-between; */
  column-gap: 1rem;
}

.featured-section article {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  gap: 1rem;
}

.featured-section article img {
  width: 100%;
  overflow: hidden;
}

.featured-section article h3 {
  color: var(--Soft-red);
  margin-bottom: 1rem;
}

.featured-section article h4 {
  margin-bottom: 1rem;
  cursor: pointer;
  transition: var(--transition);
}

.featured-section article h4:hover {
  color: var(--Soft-red);
}

.featured-section article p {
  width: 100%;
  font-size: var(--paragraph-font-size);
}
/* for scrollbar */
::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background: var(--Off-white);
}

::-webkit-scrollbar-thumb {
  background: var(--Soft-red);
}

/* Media Queries */

@media screen and (max-width: 600px) {
  /* body {
    background-color: red;
  } */

  .container {
    width: 94%;
  }

  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.2rem;
  }

  nav .menu-btn {
    display: block;
  }

  nav .nav-links {
    position: absolute;
    flex-direction: column;
    top: 6rem;
    right: 4rem;
    background-color: var(--Off-white);
    padding: var(--padding);
    display: none;
  }
}
